div#minbio
	div.l-pages
		div.l-pages-page#brand
			a(href="#tutorial").l-page-readmore
				div.l-page-readmoreText
					| Læs
					br
					| mere
			div.l-pages-pageBackground
			div.l-pages-pageCC
				div.l-pages-pageSpotLeft
				div.l-pages-pageLogos
					a.l-pages-pageBio
					a.l-pages-pageNordisk
				div.l-pages-pageSpotRight
				div.l-pages-pageContent
					div.l-brand
						div.l-brand-info
							div.l-brand-upper
								div.bulbframe
									div.bulbframe-top
								div.l-brand-logo
									img(src="./img/paradis_logo.png")
								div.l-brand-teaser
									p
										| Normal pris: 45 kr./mdr. Som kunde hos
										br
										| Paradis får du mulighed for at prøve Min Bio
										br
										| for 30kr/mdr i 2 måneder. Editerbar tekst.
								div.l-brand-action
									a.btn Nyt medlem?
								div.l-brand-action
									a.btn Allerede medlem*
							div.l-brand-lower
								div.l-brand-lowerInfo
									p
										| Min Bio er en filmtjeneste for børn, udviklet af
										br
										| Egmont / Nordisk Film, med en brugerflade tilpasset
										br
										| de mindste børn, og med fokus på indhold af høj kvalitet.
								div.l-brand-app
									a.btn.theme-gray(href="#appApple")
										span.btn-icon
											img(src="./img/icon_apple.png")
										span.btn-text
											span.btn-textline Hent fra
											span.btn-textline APP STORE
									a.btn.theme-gray(href="#appAndroid")
										span.btn-icon
											img(src="./img/icon_google.png")
										span.btn-text
											span.btn-textline Hent fra
											span.btn-textline GOOGLE PLAY
									a.btn.theme-gray.l-brand-appDesktop(href="#desktopPlay")
										span.btn-icon
											img(src="./img/icon_play.png")
										span.btn-text
											span.btn-textline Afspil
											span.btn-textline FRA DIN DESKTOP

								div.l-brand-lowerFooter
									p	*For at benytte tilbuddet skal du være ny  abonnementskunde hos Min Bio.
									p	Du kan til enhver tid vælge at opsige dit abonnement.
									p
										a Læs mere i vores vilkår og betingelser >
						div.l-brand-frame
							div.bulbframe
								div.bulbframe-label Et udpluk af filmene
								div.bulbframe-left
								div.bulbframe-right
								div.bulbframe-top
								div.bulbframe-bottom
								div.bulbframe-content
									div.bulbframe-innerContent
										ul.slides
											li
												img(src="./img/poster_little_princess.jpg")
											li
												img(src="./img/poster_little_princess2.jpg")
											li
												img(src="./img/poster_little_princess3.jpg")
		div.l-pages-page#tutorial
			div.l-pages-pageBackground
			div.l-pages-pageCC
				div.l-pages-pageSpotLeft
				div.l-pages-pageSpotRight
				div.l-pages-pageContent
					div.l-tutorial
						div.l-tutorial-head
							div.l-tutorial-headText Sådan virker
						div.l-tutorial-body
							div.l-tutorial-video
								iframe(width="100%", height="100%", src="//www.youtube.com/embed/B1wmuDpe-4U?rel=0", frameborder="0", allowfullscreen)
		div.l-pages-page#end
			a(href="#brand").l-page-totop
				div.l-page-totopText
					| Til
					br
					| toppen
			div.l-pages-pageBackground
			div.l-pages-pageCC
				div.l-pages-pageSpotLeft
				div.l-pages-pageSpotRight
				div.l-pages-pageContent
					div.l-end
						div.l-end-devices
						div.l-end-walter
						div.l-end-text
							| Se filmene på Computer,
							br
							| iPad & iPhone,
							br
							| android enheder
							br
							| eller på TV via AirPlay


